.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.hdr_main{
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 142px 0 142px;
}
.lnk1{
  text-decoration: none;
  margin: 15px;
  font-weight: 500;
  color: #05b5cc;
  transition: 0.3s;
}
.lnk1:hover{
  color: black;
  font-weight: 600;
}
.lnk2{
  text-decoration: none;
  padding: 6px 14px 8px 14px;
  border-radius: 16px;
  color: #fff;
  font-weight: 500;
  margin-left: 32px;
  background-color: #0084ff;
}
